<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="./js/vue.js"></script>
    <!-- 引入样式 -->
    <link rel="stylesheet" href="./css/ele.css">


    <!-- 引入组件库 -->
    <script type="text/javascript" src="./js/ele.js"></script>
    <style type="text/css">

      body, ul, li, h1, h2, h3, h4, h5, h6, p, form, dl, dt, dd { margin: 0px; padding: 0px; font-size: 12px; font-weight: normal; }
      ul { list-style: none; }
      img { border-style: none; }
      *{

      }
      /*body,#app{*/
      /*  width: 100%;*/
      /*  height: 100%;*/
      /*}*/
      #app{
        text-align: center;
        padding: 20px ;
      }

      .dev-item{
        width: 100%;
        background-color: pink;
        margin: 10px 0px;



        display: flex;
      }

      .host-info-box{
        /*flex: 1;*/
        background-color: greenyellow;
        padding: 10px;
        display: flex;
        flex-direction: column;
        justify-content: center;

        width: 260px;
      }

      .dev-info-box{
        flex: 1;
        padding: 10px;


      }

      .dev-circle-chart{
        background-color: lightcyan;
        display: flex;

      }
      .dev-network-box{

        background-color: coral;

      }

      .field-item{
        display: flex;
        justify-content: space-between;
      }

      .field-title{
        color: #000;
        font-weight: 600;
        font-size: 14px;
        padding: 3px;
      }
      .field-value{
        color: #5f636d;
        font-size: 14px;
        padding: 3px;
        margin-left: 20px;
      }
      .dev-circle-chart .circle-item{
        flex: 1;
      }
      .dev-circle-chart .circle-item span{
        display: block;
        margin: 10px;
      }
    </style>

</head>
<body>
<div id="app">
    <div class="dev-item" v-for="(item, i) in devList">

      <!--
        左右两部分
      -->
      <div class="host-info-box">

        <div class="field-item" v-for="(value,key) in item.osInfo">
          <span class="field-title">{{dataMap(key)}}</span>
          <span class="field-value" >{{key==='uptime'?formatTime(value):value}}</span>
        </div>
      </div>


      <!-- ip信息的两个盒子 -->
      <div class="host-info-box" v-if="item.ipInfo">
        <div class="field-item" v-for="(value,key) in item.ipInfo">
          <span class="field-title" v-if="value">{{dataMap(key)}}</span>
          <span class="field-value" v-if="value">{{key==='uptime'?formatTime(value):value}}</span>
        </div>
      </div>
      <div v-else class="host-info-box">
        暂无ip信息
      </div>



      <div class="dev-info-box">

        <!--
          上下两个盒子
        -->

        <div class="dev-circle-chart">
          <div class="circle-item">
            <span>cpu</span>
            <el-progress type="circle"  :percentage="item.cpuInfo.cpuUsage" :color="getStatus(item.cpuInfo.cpuUsage)"></el-progress>
            <span>{{item.cpuInfo.cpuCount}}核心</span>
            <span>{{item.cpuInfo.cpuModel}}</span>
          </div>

          <div class="circle-item">
            <span>磁盘</span>
            <el-progress type="circle"  :percentage="item.driveInfo.usedPercentage" :color="getStatus(item.driveInfo.usedPercentage)"></el-progress>
            <span>{{item.driveInfo.usedGb}}/{{item.driveInfo.totalGb}}GB</span>
          </div>
          <div class="circle-item">
            <span>内存</span>
            <el-progress type="circle"  :percentage="item.memInfo.usedMemPercentage" :color="getStatus(item.memInfo.usedMemPercentage)"></el-progress>
            <span>{{item.memInfo.usedMemMb}}/{{item.memInfo.totalMemMb}}MB</span>
          </div>

        </div>

        <div class="dev-network-box">
          设备网络ip图

        </div>

      </div>

    </div>


</div>


</body>
<script type="text/javascript">

    const ws = new WebSocket("ws://10.0.8.1:6080?token=abcdef&type=view&endpointName=bb");
    new Vue({
        el: '#app',
        data: function () {
            return {
                devList: [
                  {
                    "cpuInfo": {
                      "cpuUsage": 0,
                      "cpuCount": 16,
                      "cpuModel": "Intel(R) Core(TM) i7-10875H CPU @ 2.30GHz"
                    },
                    "memInfo": {
                      "totalMemMb": 16290.8,
                      "usedMemMb": 11160.05,
                      "freeMemMb": 5130.75,
                      "usedMemPercentage": 68.51,
                      "freeMemPercentage": 31.49
                    },
                    "driveInfo": {},
                    "netstatInfo": {},
                    "osInfo": {

                      "type": "Windows_NT",
                      "platform": "win32",
                      "release": "10.0.19042",
                      "ip": "192.168.0.70",
                      "hostname": "LAPTOP-8C2UNQL5",
                      "arch": "x64",
                      "uptime": 87328.703,
                      "openedCount": 0,
                    },

                  },
                  {
                    "cpuInfo": {
                      "cpuUsage": 14.63,
                      "cpuCount": 2,
                      "cpuModel": "Intel(R) Celeron(R) CPU  J1800  @ 2.41GHz"
                    },
                    "memInfo": {
                      "totalMemMb": 3831.11,
                      "usedMemMb": 2439.89,
                      "freeMemMb": 1391.22,
                      "usedMemPercentage": 63.69,
                      "freeMemPercentage": 36.31
                    },
                    "driveInfo": {
                      "totalGb": "12.9",
                      "usedGb": "11.6",
                      "freeGb": "1.3",
                      "usedPercentage": "89.9",
                      "freePercentage": "10.1"
                    },
                    "netstatInfo": {
                      "total": {
                        "inputMb": 0.02,
                        "outputMb": 0.03
                      },
                      "enp1s0": {
                        "inputMb": 0.01,
                        "outputMb": 0.02
                      },
                      "wgc": {
                        "inputMb": 0,
                        "outputMb": 0
                      },
                      "wgp": {
                        "inputMb": 0.01,
                        "outputMb": 0.01
                      },
                      "br-cbd9d7451d72": {
                        "inputMb": 0,
                        "outputMb": 0
                      }
                    },
                    "osInfo": {
                      "type": "Linux",
                      "platform": "linux",
                      "release": "4.15.0-213-generic",
                      "ip": "10.0.9.10",
                      "hostname": "j1800",
                      "arch": "x64",
                      "uptime": 1619289.1
                    },
                    "openedCount": 0,
                    "ipInfo": {
                      "status": "success",
                      "country": "中国",
                      "countryCode": "CN",
                      "region": "GD",
                      "regionName": "广东",
                      "city": "广州市",
                      "zip": "",
                      "lat": 23.1181,
                      "lon": 113.2539,
                      "timezone": "Asia/Shanghai",
                      "isp": "Chinanet",
                      "org": "Chinanet GD",
                      "as": "AS4134 CHINANET-BACKBONE",
                      "query": "119.135.235.28"
                    }
                  }
                ],

               dict:{
                 "country": "国家",
                 "countryCode": "国家编码",
                 "regionName": "地区",
                 "city": "城市",
                 "lat": "纬度",
                 "lon": "经度",
                 "timezone": "时区",
                 "isp": "isp提供商",
                 "query": "真实ip",
                 "openedCount":"连接人数",
               }

            }
        },
        mounted() {
            /**
             * 连接成功
             * @param ev
             */
            ws.onopen = this.wsOpen;
            /**
             * 接收到消息
             * @param ev
             */
            ws.onmessage = this.wsMessage;
            ws.onclose = this.wsClose;
            ws.onerror = this.wsError;
        },
        computed: {},
        methods: {
          /**
           * 数据字典
           * @param k
           */
            dataMap(k){
              return  this.dict[k] ? this.dict[k]:k;
            },

            hostIp(i) {
                let ip = this.ipInfo(i)?.query || this.host(i) || '--'
                try {
                    // let formatIp = ip.replace(/(?<=\d*\.\d*\.)(\d*)/g, (matchStr) => matchStr.replace(/\d/g, '*'))
                    let formatIp = ip.replace(/\d/g, '*').split('.').map((item) => item.padStart(3, '*')).join('.')
                    return this.hiddenIp ? formatIp : ip
                } catch (error) {
                    return ip
                }
            },




            toFixed(value, count = 1) {
                value = Number(value)
                return isNaN(value) ? '--' : value.toFixed(count)
            },
            formatTime(second = 0) {
                let day = Math.floor(second / 60 / 60 / 24)
                let hour = Math.floor(second / 60 / 60 % 24)
                let minute = Math.floor(second / 60 % 60)
                return `${day}天${hour}时${minute}分`
            },
            formatNetSpeed(netSpeedMB) {
                netSpeedMB = Number(netSpeedMB) || 0
                if (netSpeedMB >= 1) return `${netSpeedMB.toFixed(2)} MB/s`
                return `${(netSpeedMB * 1024).toFixed(1)} KB/s`
            },
            // format: time OR date
            formatTimestamp: (timestamp, format = 'time') => {
                if (typeof (timestamp) !== 'number') return '--'
                let date = new Date(timestamp)
                let padZero = (num) => String(num).padStart(2, '0')
                let year = date.getFullYear()
                let mounth = padZero(date.getMonth() + 1)
                let day = padZero(date.getDate())
                let hours = padZero(date.getHours())
                let minute = padZero(date.getMinutes())
                let second = padZero(date.getSeconds())
                switch (format) {
                    case 'date':
                        return `${year}-${mounth}-${day}`
                    case 'time':
                        return `${year}-${mounth}-${day} ${hours}:${minute}:${second}`
                    default:
                        return `${year}-${mounth}-${day} ${hours}:${minute}:${second}`
                }
            },

            getStatus(progress){

              if (progress>70){
                return '#dfa238';
              }else if (progress>90){
                return '#f34c4a';
              }

              return '#45a0ff';
            },

            wsOpen(ev) {
                console.log("连接打开")
            },
            wsClose(ev) {
                console.log("连接断开")
            },
            wsError(ev) {
                console.error(ev);
                console.log("连接异常，原因：" + JSON.stringify(ev))
            },
            wsMessage(ev) {
                let data = JSON.parse(ev.data);
                console.log(data);
                for (let i = 0; i < data.length; i++) {
                  data[i].osInfo.openedCount = data[i].openedCount;
                }
                this.devList = data;
            },
        }
    })
</script>

